
<div class="panel panel-primary col-sm-6 col-sm-offset-3">
  <div class="panel-heading">
      <h3>Click a tale to make your contribution</h3>
  </div>
  <div class="panel-body">
    <div class="stuff">
        <% @tales.order(score: :desc).each do |tale| %>
          <h4> <%= link_to tale.title, tale_path(tale) %> </h4>
          <h6> <%= tale.score %> </h6>
        <% end %>
        <%= link_to "Add Tale", new_tale_path, class: "btn btn-danger btn-lg" %>
    </div>
  </div>
</div>
