/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: url("background.jpg") fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  height: 100%;
}
.container{
  background: white;
  height: 100%;
}
.big-pic {
  // height: 500px;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  width: 100%;

}
.little-pic {
  // height: 250px;
  width: 100%;
}
.tiny-pic {
  // height: 250px;
  width: 100px;
  height: 100px;
}
.super-tiny-pic {
  // height: 250px;
  width: 50px;
  height: 50px;
}
.panel{
  padding:0;
}
.panel-body {
  padding: 0;
}

.headshot-pic {
  height: 150px;
  width: 150px;
  border: black solid 1px;
}

.well {
  margin: 0;
}
.glyphicon-thumbs-up{
  color: green;
}
.glyphicon-thumbs-down{
  color: darkred;
}

.alert, .notice {
  margin: 0;
  padding: 0;
}

.container {
  border-radius: 1%;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
}
.stuff{
  margin-left: 5%;
}
.field {
  width: 200px;
}
